<#assign basepackage = project.basepackage>
<#assign className = entity.name>
<#assign classNameLower = className?uncap_first>
<#assign propertyMap = entity.properties>
<#list propertyMap?keys as property>
<#if propertyMap[property].identity>
<#assign identity = propertyMap[property].name>
<#assign identityJavaType = propertyMap[property].javaType> 
</#if>
</#list>
<#if !identity??>
<#assign identity = "seqId">
<#assign identityJavaType = "java.lang.Long"> 
</#if>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="../../static/css/g.css" th:href="@{/css/g.css}" />
<script type="text/javascript" src="../../static/js/crud/${className}/create.js" th:src="@{/js/crud/${className}/create.js}"></script>
</head>
<body>
	 	Hello,thymeleaf
	 	<br />
	 	This is my first thymeleaf demo.
	 	
	 	
	 	<hr />
	 	
	 	welcome <span th:text="${r'$'}{obj.name}" ></span>
	 	<form th:action="@{/crud/${className}/create}" method="post">
		 	用户名:<input type="text" name="name"/><br/>
		 	年龄:<input type="text" name="age"/><br/>
		 	createTime:<input type="text" name="createTime"/><br/>
		 	<input type="submit" value="提交"/>
	 	</form>
</body>
</html>